<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDE2pYlSqFQTXki5zJeR7i2XjtbjgQijSM</string>
	<key>GCM_SENDER_ID</key>
	<string>814384827987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mbcp.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-afb19</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-afb19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814384827987:ios:09d4e84e9301428cc1c0a6</string>
</dict>
</plist>